h1,
h2 {
  font-family: "Montserrat", sans-serif;
}

h1 {
  color: #6d6d6d;
  font-size: 24px;
  margin: 60px 30px;
}

h2 {
  font-weight: 500;
  color: #2abf97;
  font-size: 36px;
  padding: 20px 0;
}

form {
  display: inline;
  margin: 0 0 0 5px;
}
input {
  padding: 5px;
}
button {
  border: 1px solid #2abf97;
  border-radius: 4px;
  background-color: #fff;
  height: 40px;
  width: 40px;
}

button:hover {
  border: 1px solid #fff;
  background-color: #2abf97;
}

p {
  color: #6d6d6d;
  font-size: 14px;
}

svg {
  display: block;
  margin: 0 auto;
}

a {
  color: #2abf97;
  text-decoration: underline;
}

.container {
  font-family: "Montserrat", sans-serif;
}

.weather-container {
  border: 1px solid #2abf97;
  border-radius: 5px;
  margin: 60px auto 0 auto;
  padding: 30px;
}

.city {
  border: 1px solid #2abf97;
}

.bi-search {
  color: #6d6d6d;
}

.bi-search:hover {
  color: #fff;
}

.bi-geo-alt-fill {
  color: #6d6d6d;
}

.bi-geo-alt-fill:hover {
  color: #fff;
}

.current-time {
  color: #6d6d6d;
  margin: -5px 0 20px 0;
}

.weather-icon {
  text-align: center;
  font-size: 84px;
  display: block;
  margin: 0 auto;
}

.current-weather {
  text-align: center;
  text-transform: capitalize;
  font-size: 28px;
  color: #2abf97;
  padding: 0pxß;
}

.current-weather .active {
  color: #6d6d6d;
  cursor: default;
  text-decoration: none;
}

.units {
  font-size: small;
  vertical-align: super;
}

.forecast {
  margin: 48px 0;
  padding: 15px 0;
  background: rgb(200, 200, 200, 0.3);
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  font-size: 14px;
}

.forecast-icon {
  display: block;
  margin: 0 auto;
}

.forecast-temperature-high {
  color: #2abf97;
}

.forecast-temperature-low {
  opacity: 0.5;
}

.github-link {
  font-size: 12px;
}
